* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
}
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: #ffffff;
    text-align: center;
    border-bottom: 10px solid rgb(208, 4, 208);
}

.header h1 {
    color: rgb(5, 250, 107);
    font-size: 50px;
    margin-bottom: 5px;
    margin-left: 0;
}

.form-input {
    color: rgb(208, 4, 208);
}

#email-login {
    color: rgb(5, 250, 107)
}

#password-login {
    color:rgb(5, 250, 107)
}

#name-signup {
    color:rgb(5, 250, 107)
}

#email-signup {
    color:rgb(5, 250, 107)
}

#password-signup {
    color: rgb(5, 250, 107);
}